@import "tailwindcss";

@theme {
    --animate-fadeIn: fadeIn 0.3s ease-in-out;

    @keyframes fadeIn {

        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    --animate-fadeOut: fadeOut 0.2s ease-out;

    @keyframes fadeOut {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
}

:root {
    color-scheme: light dark;
    background-color: light-dark(#e5e5e5, #030712);
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
}

@keyframes fade-out {
    to {
        opacity: 0;
    }
}

@keyframes slide-from-right {
    from {
        transform: translateX(30px);
    }
}

@keyframes slide-to-left {
    to {
        transform: translateX(-30px);
    }
}

@keyframes slide-from-up {
    from {
        transform: translateY(30px);
    }
}

@keyframes slide-to-down {
    to {
        transform: translateY(-30px);
    }
}
::view-transition-old(root) {
    animation: 100ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
        300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}

::view-transition-new(root) {
    animation: 210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
        300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}

::view-transition-old(teachers),
::view-transition-old(students),
::view-transition-old(all),
::view-transition-old(go-back) {
    animation: 300ms cubic-bezier(.15, .65, .29, 1.09) both fade-out,
        300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-down;
}

::view-transition-new(teachers),
::view-transition-new(students),
::view-transition-new(all),
::view-transition-new(go-back) {
    animation: 210ms cubic-bezier(.15, .65, .29, 1.09) 90ms both fade-in,
        300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-up;
}

.active-btn {
    @apply text-blue-700 border-blue-600 hover:bg-blue-700 dark:border-blue-500 dark:text-blue-500 dark:focus:ring-blue-800 dark:hover:bg-blue-500 dark:hover:text-white hover:text-white border active:transform-[scale(0.95)] duration-200 bg-white focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3 dark:bg-gray-900;
}

.inactive-btn {
    @apply text-gray-900 border border-white active:transform-[scale(0.95)] duration-200 hover:border-gray-200 dark:border-gray-900 dark:bg-gray-900 dark:hover:border-gray-700 bg-white focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3 dark:text-white dark:focus:ring-gray-800
}
.blur-container {
    @apply blur-sm mx-auto w-md h-fit rounded-xl p-6 border-2
}